<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Encountered Tchnical Issues</h1>
    <p>We are working on the issue. Sorry for the inconvenience</p>

<%- include('includes/end.ejs') %>